{
    "swagger": "2.0",
    "info": {
        "description": "GT 后端接口文档",
        "title": "GT API",
        "termsOfService": "https://github.com/bingfenglai",
        "contact": {
            "name": "Ferryman",
            "url": "https://github.com/bingfenglai",
            "email": "bingfenglai.dev@gmail.com"
        },
        "license": {
            "name": "Apache 2.0",
            "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
        },
        "version": "1.0"
    },
    "host": "api.gt.com",
    "paths": {
        "/v1/captcha/behavioral/images": {
            "get": {
                "description": "获取图片人机验证码",
                "tags": [
                    "验证码API"
                ],
                "summary": "获取图片人机验证码",
                "responses": {
                    "200": {
                        "description": "ok",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/v1/captcha/behavioral/images/verity": {
            "post": {
                "description": "校验图片人机验证码",
                "tags": [
                    "验证码API"
                ],
                "summary": "校验图片人机验证码",
                "responses": {
                    "200": {
                        "description": "ok",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/v1/captcha/email": {
            "get": {
                "description": "获取邮件验证码",
                "tags": [
                    "验证码API"
                ],
                "summary": "获取邮件验证码",
                "responses": {
                    "200": {
                        "description": "ok",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/v1/ping": {
            "get": {
                "description": "健康检查接口",
                "tags": [
                    "健康检查接口"
                ],
                "summary": "健康检查接口",
                "responses": {
                    "200": {
                        "description": "ok",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/v1/redirection": {
            "get": {
                "description": "链接重定向接口",
                "tags": [
                    "短链接API"
                ],
                "summary": "链接重定向接口",
                "responses": {
                    "200": {
                        "description": "ok",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/v1/shortCode": {
            "post": {
                "description": "生成短链接",
                "tags": [
                    "短链接API"
                ],
                "summary": "生成短链接",
                "responses": {
                    "200": {
                        "description": "ok",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/v1/tenant": {
            "post": {
                "description": "创建租户",
                "tags": [
                    "租户API"
                ],
                "summary": "创建租户",
                "responses": {
                    "200": {
                        "description": "ok",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        }
    }
}