# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
/src/gt/log
/src/gt/log/*.log
/src/test/log
/src/test/*.temp
/src/*.dump
/src/test/*.dump
/backend/test/log
/backend/test/cache.dump
/backend/cache.dump
/.idea
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
/.idea/workspace.xml
/.idea/.gitignore
/.idea/gt.iml
/.idea/modules.xml
/.idea/scssLintPlugin.xml
/.idea
